extends default 
block content 
    h1= title
        br
        br
        br
        h3.text-center Enter Your Post: 

        if successful
            h2.success= successful

        if errorMessage
            h2.error= errorMessage
        
        form(action="/createPost", method="POST")
            div.form-group
                label(for="posting_image") Image: 
                input(type="text", id="posting_image", name="posting_image", placeholder="Enter image link", required)
                br
                br
            div.form-group
                label(for="post_text") Text:
                input(type="text", id="post_text", name="post_text", placeholder="Type your post!", required)
                br
                br
            if pets
                div.form.group
                    label Select Pet Username:
                    each pet in pets 
                        div 
                            input(type="checkbox",name="pet_petId",id=`pet_${pet.pet_id}`,value=pet.pet_id)
                            label(for=`pet_${pet.pet_id}`)=pet.pet_id
                    br
            div.form-group 
                - var types =["Public", "Friends Only"]
                label(for="post_visibility") Post Visibility: 
                select(name="post_visibility", id="post_visibility", required)
                    each visibility in types
                        option(value=visibility)=visibility 
                br
                br
            button(type="submit" id="post_button") Submit Post

