extends default

block content
    .home-search 
        img(src="/images/pawsLogo.png" width="180" height="180")
        form(id='searchForm' action='/search' method='GET')
            input#searchQuery.home-input(autofocus='' value=`${searchQuery || ''}` placeholder='Enter a search term' type='search' name='q')
            button(type='submit') Search
            br
            label(for='userSearch') Search Users
            input#userSearch(type='checkbox' name='userSearch' checked)
            label(for='userSearch') Search By Display Name <!-- Corrected label ID -->
            input#UserNameSearch(type='checkbox' name='UserNameSearch')
            label(for='petSearch') Search Pets
            input#petSearch(type='checkbox' name='petSearch')

    .container
        if userSearchResults && userSearchResults.length
            each user in userSearchResults
                .user
                    p #{user.user_name}
        else
            .result-count
                strong No results found for #{searchQuery}.

        if petSearchResults && petSearchResults.length
            each pet in petSearchResults
                .pet
                    p #{pet.pet_name}
        else
            .result-count
                strong No results found for #{searchQuery}.
