extends default

block content

    .home-search 

        img(src="/images/pets-images.jpg")
        form(id='searchForm' action='/search' method='GET')
            input#searchQuery.home-input(autofocus='' value=`${searchQuery || ''}` placeholder='Enter a search term' type='search' name='q')
            button(type='submit') Search
            br
            br

            label(for='userSearch') Search Users
            |&nbsp;
            input#userSearch(type='checkbox' name='userSearch')
            |&nbsp;
            |&nbsp;
            |&nbsp;

            label(for='userDisplayNameSearch') Search By Display Name 
            |&nbsp;
            input#userDisplayNameSearch(type='checkbox' name='userDisplayNameSearch')
            |&nbsp;
            |&nbsp;
            |&nbsp;

            label(for='locationSearch') Search  by Location
            |&nbsp;
            input#locationSearch(type='checkbox' name='locationSearch')
            |&nbsp;
            |&nbsp;
            |&nbsp;

            label(for='petId') Search Pet Id
            |&nbsp;
            input#petId(type='checkbox' name='petId')
            |&nbsp;
            |&nbsp;
            |&nbsp;
            
            label(for='petName') Search Pet name
            |&nbsp;
            input#petName(type='checkbox' name='petName')

    .container
        if userSearchResults && userSearchResults.length
            each user in userSearchResults
                .user
                    a(href="/profiles?user_id="+user.id) #{user.user_name}

        else if userDisplayNameResults && userDisplayNameResults.length
            each user in userDisplayNameResults
                .user
                    a(href="/profiles?user_id="+user.id) #{user.display_name}

        else if locationResults && locationResults.length
            each user in locationResults
                .user
                    a(href="/profiles?user_id="+user.id) #{user.user_name}

        else if petIdResults && petIdResults.length
            each pet in petIdResults
                .user
                    a(href="/petProfile?pet_id="+pet.pet_id) #{pet.pet_id}

        else if petNameResults && petNameResults.length
            each pet in petNameResults
                .user
                     a(href="/petProfile?pet_id="+pet.pet_id) #{pet.pet_name}

        else
            .result-count
                strong No results found for #{searchQuery}


    .container-fluid
      .row.h-100
        #postsContainer.col-md-12
          h2(style="text-decoration: underline;") Your Feed
          .row.justify-content-center
            each post in friendPost
              - const date = new Date(post.post_timeStamp)
              .col-md-3
                .card
                  img.card-img-top(src=post.posting_image, alt="Post image")
                  .card-body
                    a.card-text(href="/profiles?user_id="+post.pet_owner_id) @#{post.pet_owner_username} 
                    p.card-text= post.post_text
                    p.card-text Posted: #{date.toLocaleDateString()} at #{date.toLocaleTimeString()}
                    a.blue-link(href=`/translateHome?post_id=${post.post_id}&post_text=${encodeURIComponent(post.post_text)}`) Translate post
                    if translation_out && postId
                      if postId == post.post_id
                        p.notice Translated to: #{translation_out}
            each post in publicPost
              - const date = new Date(post.post_timeStamp)
              .col-md-3
                .card
                  img.card-img-top(src=post.posting_image, alt="Post image")
                  .card-body
                    a.card-text(href="/profiles?user_id="+post.pet_owner_id) @#{post.pet_owner_username}
                    p.card-text= post.post_text
                    p.card-text Posted: #{date.toLocaleDateString()} at #{date.toLocaleTimeString()}
                    a.blue-link(href=`/translateHome?post_id=${post.post_id}&post_text=${encodeURIComponent(post.post_text)}`) Translate post
                    if translation_out && postId
                      if postId == post.post_id
                        p.notice Translated to: #{translation_out}



