doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title= title
    link(rel='stylesheet', type='text/css', href='/css/style.css')
  body
    
    #headerImage
      img(src='/images/SampleBanner.jpg' width="1900" height="100" border=" 2px solid black")

    #profileNav
      <h2 style="text-align: center"> Menu</h2>
      ul
        li.nav-item
          a.navbar-brand(href='/') Home
        li.nav-item
          a.nav-link(href='/login') Login
        li.nav-item
          a.nav-link(href='/createUser') Sign Up
        li.nav-item
          a.nav-link(href='/createPet') Create Pet Profile
        li.nav-item
          a.nav-link(href='/createPost') Create Post
        li.nav-item
          a.nav-link(href='/profileSearch') Search for users
        li.nav-item
          a.nav-item(href='/transferPet') Transfer Pet account
        li.nav-item  
          a.nav-item(href='/messages') Message Board
          
    //- #profilePics 
    //-   h2(style="text-align: center;") Pictures 
      
    //-   img(src=pet.profile_image, width="100", height="100", alt="Pet image", style="margin: 10px;")

    //-   each post in postsData
    //-     img(src=post.posting_image, width="100", height="100", alt="Pet image", style="margin: 10px;")

    #posts
      h2 Posts
      each post in postsData
        - const date = new Date(post.post_timeStamp)
        .postContainer
          .postData
            p(style="font-family: 'Montserrat', sans-serif; color: #c71585;") Posted: #{date.toLocaleDateString()} at #{date.toLocaleTimeString()}
            img(src=post.posting_image, width="400", height="400", alt="Post image")
            p= post.post_text
            
        li.nav-item 
          a.nav-link(href='/transferPet') Transfer Pet
        li.nav-item 
          a.nav-link(href="/messages") Messages

    //- #friends
    //-   <h2 style="text-align: center"> Bio:  </h2>
    //-   <p style="text-align: center"> #{pet.pet_bio} </p>


    #profileInfo
      <h2 style="text-align: center"> PetInfo
      -if (pet.owner_id == user.id) {
        a(href="/updatePet?pet_id="+pet.pet_id) 
          img(src="/images/edit.png" alt="edit" width="25")
      -}
      </h2>

      div(style="display: flex; justify-content: center; align-items: center;")
        img(src=pet.profile_image, width="200", height="200", alt="pet profile image")
      <br>
      p Pet Name: #{pet.pet_name}
      p PetID: #{pet.pet_id}
      p Type: #{pet.pet_type} | #{pet.pet_breed} 
      p 
        a(href="/profiles?user_id="+pet.owner_id)  Owner: #{owner.user_name}
      p Bio: #{pet.pet_bio}
      
    block content
