extends default 

block content

    .container-fluid
      .row.h-100
        #postsContainer.col-md-12
          h2(style="text-decoration: underline;") Pet Posts   
          .row.justify-content-center 
            each post in postsData
              - const date = new Date(post.post_timeStamp)
              .col-md-3
                .card
                  img.card-img-top(src=post.posting_image, alt="Post image")
                  .card-body
                    a.card-text(href="/profile?user-id="+post.pet_owner_id) @#{post.pet_owner_username}
                    p.card-text= post.post_text
                    p.card-text Posted: #{date.toLocaleDateString()} at #{date.toLocaleTimeString()}
                    a.blue-link(href=`/translatePet?post_id=${post.post_id}&post_text=${encodeURIComponent(post.post_text)}&pet_id=${pet.pet_id}`) Translate post
                    if translation_out && postId
                      if postId == post.post_id
                        p.notice Translated to: #{translation_out}
            

    #profileInfo
      <h2 style="text-align: center"> PetInfo
      -if (pet.owner_id == user.id) {
        a(href="/updatePet?pet_id="+pet.pet_id) 
          img(src="/images/edit.png" alt="edit" width="25")
      -}
      </h2>

      div(style="display: flex; justify-content: center; align-items: center;")
        img(src=pet.profile_image, width="200", height="200", alt="pet profile image")
      <br>
      p Pet Name: #{pet.pet_name}
      p PetID: #{pet.pet_id}
      p Type: #{pet.pet_type} | #{pet.pet_breed} 
      p 
        a(href="/profiles?user_id="+pet.owner_id)  Owner: #{owner.user_name}
      p Bio: #{pet.pet_bio}
      
    block content
