extends default 
block content 
    h1= title 
    br
    br
    hr
    .container-fluid
        .row.justify-content-center
           
            - var petID = pet.pet_id;
           
            .card
                h3 Are you sure you want to delete the following pet profile?
                img.card-image-top(src=pet.profile_image, alt="profile picture", width="250", height="250")
                .card-body
                    p.card-text Pet ID: #{pet.pet_id}
                    p.card-text Pet Name: #{pet.pet_id}
                    p.card-text Pet Type: #{pet.pet_type} 
                    p.card-text Pet Breed: #{pet.pet_breed}
                    p.card-text Pet Bio: #{pet.pet_bio}

                br
                a.btn.btn-primary(href="/deletePet?pet_id="+petID) Yes, Delete.
                br
                a.btn.btn-primary(href="/updatePet?pet_id="+petID) No, Cancel.
                br
                a.btn.btn-primary(href="/transferPet") No, Transfer.
