extends default 
block content 
    h1=title 
        br
        br
        hr
    .container-fluid
        .row.h-100
            #rightSide.col-md-5
                .row.justify-content-center
                    h3 Update User Inforamation! 
                        .card
                            img.card-image-top(src=user.profile_img, alt="profile picture", width="250", heiht="250")
                            p.card-text Username: #{user.user_name}
                            p.card-text Display Name: #{user.display_name}
                            br
            
                            a.btn.btn-primary(href="/updatePassword") Click Here!
                        br
                        hr


            h3.text-center Change Information Below:
                form(action="/updateUser", method="POST")
                    div.form-group
                        label(for="new_email") Edit Email:
                        input.form-control(type="email", id="new_email", name="new_email", value=user.email)
                        br
                    div.form-group 
                        label(for="new_display_name") Edit Display Name:
                        input.form-control(type="text", id="new_display_name", name="new_display_name", value=user.display_name)
                        br
                    div.form-group 
                        label(for="new_profile_img") Edit Profile Picture:
                        input.form-control(type="text", id="new_profile_img", name="new_profile_img", value=user.profile_img)
                        br
                    div.form-group 
                        //manually inputed for now, can change to take in languages of a translater API
                        - var langs = ["English", "Spanish", "French", "German"]

                        label(for="new_preferred_lang") Edit Preferred Language:
                        select.form-control(name="new_preferred_lang", id="new_preferred_lang", required)
                            option(value=user.language) #{user.language}
                            each language in langs 
                                option(value=language)= language[0] +language.slice(1)
                        br
                    button.btn.btn-primary(type="submit") Update