extends default 
block content 
    h1=title 
        br
        br
        hr
        h3.text-center Update User Inforamation!
            ul
                li 
                    img(src=user.profile_img, alt="profile picture", width="250", heiht="250")
                li Username: #{user.user_name}
                li Display Name: #{user.display_name}
        br
        br
        hr
        h3.text-center Want to change password instead? 
                        a(href="/updatePassword") Click Here!
        h3.text-center Change Information Below:
        
        form(action="/updateUser", method="POST")
            div.form-group

                label(for="new_email") Edit Email:
                input(type="email", id="new_email", name="new_email", value=user.email)
                br
            div.form-group 
                label(for="new_display_name") Edit Display Name:
                input(type="text", id="new_display_name", name="new_display_name", value=user.display_name)
                br
            div.form-group 
                label(for="new_profile_img") Edit Profile Picture:
                input(type="text", id="new_profile_img", name="new_profile_img", value=user.profile_img)
                br
            div.form-group 
                //manually inputed for now, can change to take in languages of a translater API
                - var langs = ["English", "Spanish", "French", "German"]

                label(for="new_preferred_lang") Edit Preferred Language:
                select(name="new_preferred_lang", id="new_preferred_lang", required)
                    option(value=user.language) #{user.language}
                    each language in langs 
                        option(value=language)= language[0] +language.slice(1)
                br
            button(type="submit") Update